# Dependências
node_modules/

# Arquivos de ambiente
.env

# Logs
logs
*.log
npm-debug.log*

# Diretório de autenticação do WhatsApp
.wwebjs_auth/
.wwebjs_cache/

# Banco de dados
database.sqlite

# Outros
.DS_Store
Thumbs.db 